#video-background {
  /*  making the video fullscreen  */
  /* position: fixed; */
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}


p.title {
  font-size: 4vh;
}

p {
  font-size: 3.2vh;
  line-height: 4.7vh;
}
.start {
  opacity: 0;
  margin: 0 10% 0 10%;
  transition: all 0.5s ease;
}

.start-100 {
  margin: 0 0 0 5%;
  transition: all 0.5s ease;
}

.arrow,
.title {
  margin-top: 10%;
}
.arrow {
  display: flex;
  align-items: center;
  height: 136px;
  width: 60px;
  transition: all 0.5s ease;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* align-items: center; */
}
.left,
.photo {
  width: 50%;
  height: 100vh;
  /* flex-direction: row; */
}
.left,
.photo {
  color: rgb(0, 0, 0);
  /* overflow: hidden;
    position: relative; */
  background: rgb(255, 255, 255);
}

.left {
  /* display: flex;
        align-items: center;  */
  animation: backName 1s ease-in;
  transition: all 0.5s ease;
  width: 50%;
  /* height: 0vh; */
  /* border-bottom: #000 2px solid; */
  opacity: 0;
}

.photo {
  background: url("../img/slide-11.svg") no-repeat center center;
  transition: all 0.5s ease;
  opacity: 0;
  background-size: cover;
  overflow: hidden;
}

.name {
  color: #000;
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
