.portfolio {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    align-items: space-around;
    width: 100%;
    height: 100vh;
  }
  
  .case1,
  .case2,
  .case3,
  .case4,
  .case5,
  .case6,
  .case7 {
    background: #fff;
    box-shadow: 0px 5px 75px 5px rgba(0, 0, 0, 0.2);
    /* background: tomato; */
    /* padding: 5px; */
    position: relative;
    /* width: 30%; */
    margin: 2vh;
    border: rgb(255, 0, 0) 1px solid;
    display: block;
  
    color: rgb(0, 0, 0);
  }
  .thumb,
  .desk {
    display: block;
  }
  .desk {
    padding: 2vh;
  }
  .thumb {
    border: #000 1px solid;
    /* width: 300px;
    height: 450px; */
    background-size: cover;
    overflow: hidden;
  }
  /* .thumb > img {
    width: 600px;
  
  } */
  .container-portolio {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin: 0 30% 0 30%;
    justify-content: space-between;
    align-content: space-between;
    /* position: absolute; */
    top: 0;
    left: 0;
    /* border: red 1px solid; */
    /* transform: translate(-50%, -50%); */
  }
  
  .img {
    position: relative;
    width: 350px;
    /* height: 354px; */
  }
  .case-title {
    font-size: 3.2vh;
  }
  

  .cover {
    display: inline-block;
    height: 350px;
    width: 350px;
    margin-bottom:60px;
    border-radius: 8px;
    transition: all 0.2s ease-out;
  }
  
  .cover__open {
    display: inline-block;
    height: 100vh;
    width: 100%;
    margin: 15px;
    border-radius: 8px;
    transition: all 0.2s ease-out;
  }
  
  @media screen and (max-width: 700px) {
    .container-portolio {
      width: 100%;
      display: flex;
      position: relative;
      transform: translate(0%, 0%);
      top: 0;
      left: 0;
      margin: 0 5% 0 5%;
    }
    .cover {
      display: block;
      height: 354px;
      width: 350px;
      margin: 15px;
      
    }
  }
  

